<h1 id="room-name"><%= @room.name %></h1>
<div id="room-id"><%= @room.id %></div>

<div class='row form-group'>
  <div class='col-md-12'>
    <div id="chat-box" class="container"></div>
    <input id="chat-input" class="form-control" placeholder="Message"/>
  </div>
</div>
